@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap");

.customers-container {
   width: 1171px;
   height: 630px;
   margin-right: 170px;
   margin-left: 170px;
}
.customers-container__reviews {
   display: flex;
   justify-content: space-around;
}
.customers-container__comment .tiny {
   margin-left: 60px;
   margin-top: -5px;
}
.customers-container h2 {
   font-family: Raleway, sans-serif;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   height: 42px;
   text-align: center;
   margin-top: 50px;
}
.customers-container .separator {
   width: 170px;
   border: 0.5px solid #ec7979;
   margin-bottom: 40px;
   margin-top: 40px;
   margin: 0 auto;
   margin-bottom: 40px;
   margin-top: 40px;
}
.customers-container .subtitle {
   color: #86878b;
   font-family: Raleway;
   font-size: 18px;
   font-weight: 400;
   line-height: 21px;
   height: 21px;
   margin-bottom: 83px;
   text-align: center;
}
.customers-container__comment h5 {
   color: #86878b;
   font-family: Raleway, sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   height: 21px;
   text-align: center;
   display: flex;
   /* почему не работает текст элайн? */
}
.customers-container__comment .prof {
   font-family: Raleway, sans-serif;
   font-size: 18px;
   line-height: 21px;
   height: 21px;
   color: black;
   text-align: left;
}
.customers-container__comment h4 {
   font-family: "Open Sans", sans-serif;
   font-size: 24px;
   line-height: 33px;
   height: 33px;
   text-align: left;
}
.customers-container__comment {
   position: relative;
}
.customers-container__comment .words {
   position: absolute;
   top: 10px;
   flex-direction: row;
   align-items: center;
   align-content: center;
}
.customers-container__comment .client {
   margin-top: 66px;
   display: flex;
   flex-direction: row;
}
