@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
/* * {
   margin: 0;
   padding: 0;
} */
.design-container {
   /* width: 1510px;
   height: 442px; */
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(../pics/design.png);
   background-color: rgba(0, 0, 0, 5);
   font-family: "Raleway", sans-serif;
}
.design-subcontainer {
   width: 1170px;
   height: 442px;
}
.design-subcontainer h2 {
   font-size: 36px;
   font-weight: 400;
   color: #fff;
   text-transform: uppercase;
   height: 42.26px;
   line-height: 42.26px;
   text-align: center;
   margin-top: 50px;
   /* position: relative;
   z-index: 2; */
}
.design-subcontainer .separator {
   width: 170px;
   margin: 0 auto;
   border: 0.5px solid #fff;
   margin-bottom: 40px;
   margin-top: 50px;
   /* position: relative;
   z-index: 2; */
}
.design-subcontainer h5 {
   color: #fff;
   font-size: 18px;
   font-weight: 400;
   text-align: center;
   margin-bottom: 73px;
   text-align: center;
   /* position: relative;
   z-index: 2; */
}
.design-subcontainer button {
   width: 370px;
   height: 58px;
   border: 1px solid #fff;
   background: none;
   font-size: 18px;
   font-weight: 600px;
   font-family: "Open Sans", sans-serif;
   color: #fff;
   display: block;
   margin: 0 auto;
   /* position: relative;
   z-index: 2; */
}
/* .design-subcontainer .overlay {
   width: 1170px;
   height: 442px;
   background: rgba(0, 0, 0, 0.5);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 0;
} */
