* {
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Raleway&display=swap");

.tabs-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-subcontainer {
    font-family: "Open sans", sans-serif;
    width: 1170px;
    /* margin: calc(100vh / 2 - 542.1px / 2) auto; */
    /* border: 1px solid red; */
}

.tabs-subcontainer .open-tab {
    border: 1px solid #c6cbcd;
    width: 1170px;
    border-top: none;
    height: 500px;
    box-sizing: content-box;
}

.tabs-container .left-side h3 {
    font-size: 30px;
    height: 124px;
    line-height: 124px;
    font-weight: 700;
    margin-bottom: 27px;
}

.tabs-container .left-side h5 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    margin-bottom: 27px;
}

.tabs-container .left-side {
    width: 570px;
    display: inline-block;
    margin: 0 25px 0 100px;
    vertical-align: top;
}

.open-tab .left-side button {
    width: 270px;
    height: 58px;
    background: #ec7979;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: #fff;
}

.tabs-subcontainer .tabs-list .tabs-list__tab1,
.tabs-subcontainer .tabs-list .tabs-list__tab2,
.tabs-subcontainer .tabs-list .tabs-list__tab3,
.tabs-subcontainer .tabs-list .tabs-list__empty-tab {
    margin-right: -5px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.tabs-subcontainer .tabs-list .tabs-list__tab1 {
    width: 201px;
    border: 1px solid #c6cbcd;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}

.tabs-list__tab2,
.tabs-subcontainer .tabs-list .tabs-list__tab3 {
    width: 184px;
    border-bottom: 1px solid #c6cbcd;
}

.tabs-subcontainer .tabs-list .tabs-list__empty-tab {
    width: 600px;
    border-bottom: 1px solid #c6cbcd;
}
